# macOS
.DS_Store

# Visual Studio Code
.vscode/
# VS Code artifacts
.classpath
.project
.settings/
bin/

# Editor backup files
*~

# Pandoc outputs
*.html

# Gradle directories
.gradle/
build/

# intellij
.idea
